<!Doctype html>
<html xmlns:th="http://thymeleaf.org">
<head th:fragment="site-head"></head>

<body>
<header th:fragment="logged-out" th:remove="tag">
    <header>
        <a href="login1.html" th:href="@{users/login1}">Login</a>
        <a href="registration.html" th:href="@{users/registration}">Registration</a>
    </header>
</header>

<header th:fragment="logged-in" th:remove="tag">
    <header>
        <b> Logged in as : </b>
        <label th:text="${session.loggedUser.userProfile.fullName}"></label>
        <br>
        <form method="post" th:action="@{users/logout}">
            <!--end point url called event-->
            <input type="submit" value="Logout"/>
        </form>
    </header>
</header>

<header th:fragment="createPost" th:remove="tag">
    <header>
        <form method="post" th:action="@{createPost}">
            <!--end point url called event-->
            <input type="submit" value="CreateNewBlog"/>
        </form>
    </header>
</header>

</body>

</html>